
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/symfony/.env.local
/symfony/.env.local.php
/symfony/.env.*.local
/symfony/config/secrets/prod/prod.decrypt.private.php
/symfony/public/bundles/
/symfony/public/resources/
/symfony/public/thumbnails/
/symfony/var/
/symfony/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/symfony/phpunit.xml
###< symfony/phpunit-bridge ###

/symfony/bin/*
!/symfony/bin/console

/logs/
.idea
/data/
/build
/build/*

# Sonar
.sonar_lock
report-task.txt
